body{
  background:#f7f7fb;
  font-family:Poppins, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  background:white;
  padding:35px;
  width:350px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
  margin-bottom:20px;
}

input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:6px;
}

button{
  width:100%;
  padding:10px;
  border:none;
  background:#1b6cf3;
  color:white;
  border-radius:6px;
  cursor:pointer;
  font-size:15px;
}

.google-btn{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  background:white;
  color:#444;
  border:1px solid #ccc;
  padding:10px;
  border-radius:6px;
  cursor:pointer;
  font-size:15px;
  margin-bottom:12px;
}

.google-btn img{
  width:18px;
  height:18px;
}
